<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>架构产品demo演示平台 - RunDemo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Le styles -->
<link href="${rc.contextPath}/stylesheets/bootstrap.css"
   rel="stylesheet">
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}
</style>
<link href="${rc.contextPath}/stylesheets/bootstrap-responsive.css"
   rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="${rc.contextPath}/images/favicon.ico">
<script>
	window.contextpath = "${rc.contextPath}";
	window.app = "${app}";
	window.pageid = "${pageid}";
</script>
</head>

<body>
   #parse("navbar.htm")

   <div class="container-fluid">
      <div class="row-fluid">
         <div class="span2">#parse("sidebar.htm")</div>
         <div class="span10">
            <!-- <form > -->
            <legend>发送消息</legend>
            <div class="container-fluid">
               <div class="row-fluid">
                  <div class="span7">
                     <!--Sidebar content-->
                     <label>Java代码：</label>
                     <textarea style="width: 100%" name="content"
                        id="content" rows="15"></textarea>
                     <hr>
                     <button id="compileButton" type="compileButton"
                        onclick="rundemo_app.compile()"
                        class="btn btn-primary">编译</button>
                  </div>
                  <div class="span5">
                     <textarea style="width: 100%" id="compileConsole"
                        rows="20"></textarea>
                     <p></p>
                  </div>
               </div>
            </div>
         </div>
         <!--/span-->
      </div>
      <!--/row-->

      <!-- 错误消息弹出框 -->
      <div aria-hidden="true" aria-labelledby="myModalLabel"
         role="dialog" tabindex="-1" class="modal hide fade"
         id="errorMsg" style="display: none;">
         <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal"
               class="close" type="button">×</button>
            <h3 id="myModalLabel">消息发送失败</h3>
         </div>
         <div class="modal-body">
            <p></p>
         </div>
         <div class="modal-footer">
            <button data-dismiss="modal" class="btn">关闭</button>
         </div>
      </div>

      <!-- 页脚 -->
      <hr style="margin-top: 150px">
      <footer>
         <p style="margin: 0 auto; width: 200px">&copy; dianping.com
            2012</p>
      </footer>

   </div>
   <!--/.fluid-container-->

   <!-- Le javascript
    ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="${rc.contextPath}/javascripts/jquery-1.7.2.min.js"></script>
   <script src="${rc.contextPath}/javascripts/bootstrap.js"></script>
   <script src="${rc.contextPath}/javascripts/rundemo_app.js"></script>

</body>
</html>
