<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>架构产品demo演示平台 - RunDemo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="用于可以执行代码地真实地演示demo">
<meta name="author" content="rundemo">
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="${rc.contextPath}/images/favicon.ico">
<!-- Le styles -->
<link href="${rc.contextPath}/stylesheets/bootstrap/bootstrap.css"
   rel="stylesheet">
<link
   href="${rc.contextPath}/stylesheets/bootstrap/bootstrap-responsive.css"
   rel="stylesheet">
<link
   href="${rc.contextPath}/stylesheets/google-code-prettify/prettify.css"
   type="text/css" rel="stylesheet" />
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

#editor {
	position: relative;
	width: 100%;
	height: 400px;
}
</style>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script>
	window.contextpath = "${rc.contextPath}";
	window.app = "${app}";
	window.pageid = "${pageid}";
	window.codeLastModifiedTime = new Date();
	window.codeLastCompiledTime = 0;
	window.tempCodeLastCompiledTime;
</script>
</head>

<body>
   #parse("navbar.htm")

   <div class="container-fluid">
      <div class="row-fluid">
         <div class="span2">#parse("sidebar.htm")</div>
         <div class="span10">
            <!-- <form > -->
            <legend>代码演示</legend>
            <div class="container-fluid">
               <div class="row-fluid">
                  <div class="span7">
                     <!--
                     <textarea style="width: 100%" name="content"
                        id="content" onchange="rundemo_app.modifyCode()"
                        rows="15"></textarea>
                        <pre class="prettyprint">import</pre>-->
                     <div id="editor"
                        style="border: 1px solid #A9E2F3; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;"></div>
                     <hr>
                  </div>
                  <div class="span5">
                     <button id="runButton" type="button"
                        onclick="rundemo_app.runDemo()"
                        class="btn btn-success">Run</button>
                     <button id="shutdownButton" type="button"
                        onclick="rundemo_app.shutdown()"
                        class="btn btn-danger"
                        style="display: none; float: right">Shutdown</button>
                     <hr>
                     <pre
                        style="cursor: text; background-color: #2E2E2E; color: #298A08; font-size: 12px; width: 100%; height: 300px; overflow-x: auto;"
                        id="console"></pre>
                     <span style="float: right; font-size: 9px;">.Console.</span>
                  </div>
               </div>
            </div>
         </div>
         <!--/span-->
      </div>
      <!--/row-->

      <!-- 错误消息弹出框 -->
      <div aria-hidden="true" aria-labelledby="myModalLabel"
         role="dialog" tabindex="-1" class="modal hide fade"
         id="errorMsg" style="display: none;">
         <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal"
               class="close" type="button">×</button>
            <h3 id="myModalLabel">错误日志</h3>
         </div>
         <div class="modal-body">
            <p></p>
         </div>
         <div class="modal-footer">
            <button data-dismiss="modal" class="btn">关闭</button>
         </div>
      </div>

      <!-- 页脚 -->
      <footer>
         <p
            style="margin: 0 auto; margin-top: 30px; margin-bottom: 200px; width: 200px">&copy;
            dianping.com 2012</p>
      </footer>

   </div>
   <!--/.fluid-container-->

   <!-- Le javascript
    ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script type="text/javascript"
      src="${rc.contextPath}/javascripts/bootstrap/jquery-1.7.2.min.js"></script>
   <script type="text/javascript"
      src="${rc.contextPath}/javascripts/bootstrap/bootstrap.js"></script>
   <script type="text/javascript"
      src="${rc.contextPath}/javascripts/rundemo_app.js"></script>
   <script type="text/javascript"
      src="${rc.contextPath}/javascripts/google-code-prettify/prettify.js"></script>
   <script src="${rc.contextPath}/javascripts/ace-src-min/ace.js"
      type="text/javascript" charset="utf-8"></script>
   <script type="text/javascript">
				var editor = ace.edit("editor");
				editor.setFontSize(14);
				editor.setTheme("ace/theme/eclipse");
				editor.getSession().setMode("ace/mode/java");
				editor.on("change", rundemo_app.modifyCode);
				window.editor = editor;
			</script>

</body>
</html>
