
<div class="container-fluid">
   <div class="row-fluid">
      <ul class="nav nav-pills"
         style="margin-left: 100px; margin-top: 20px; margin-bottom: 0px;">
         #foreach($fileName in $fileNameList)
         <li #if($velocityCount== 1)class="active" #end><a
            style="padding: 2px 10px 2px 10px;"
            href="javascript:rundemo_app.loadFile('${fileName}');">${fileName}</a></li>
         #end
      </ul>
      <span style="color: #585858; font-size: 14px">代码演示</span>
      <hr style="margin-top: 0px; margin-bottom: 5px">
      <div class="container-fluid">
         <div class="row-fluid">
            <div class="span7">
               <pre class="prettyprint">import</pre>
            </div>
         </div>
      </div>
   </div>
   <!--/row-->
</div>
<!--/.fluid-container-->
